.jumbotron{
    background-image: url(../images/adult-adventure-denim-862517.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
}